
body{ /* CUERPO */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(199, 198, 197);
    position: relative;
}
footer{ /* COPY */
    background-color: #161515;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.titulos1{
    text-align: center;
    color: white;
    
}
.container {
    text-align: center;
    border: 3px solid #111111; /* Ancho, estilo y color del borde */
    border-radius: 10px; /* Radio de borde para hacerlo más redondeado */
    padding: 10px; /* Espacio alrededor del contenido */
}

